html, body, ul, ol, li, a{
	margin: 0;
	padding: 0;
}
body{
	background: #f8f8f8;
	padding-top: var(--nav-bar-height);
}
ul, li, ol{
	list-style: none;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

:root{
	--nav-bar-height: 2.3rem;
	--news-item-padding-top: 1rem;
	--news-item-padding-left: 0.8rem;
	--news-item-height: 4rem;
	--news-item-poster-width: 40%;
}