html, body, ul, ol, li, a{
	margin: 0;
	padding: 0;
}
body{
	background: var(--main-bg);
}
ul, li, ol{
	list-style: none;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

:root{
	--main-bg: #f8f8f8;
	--nav-bar-height: 2.3rem;
	--news-item-padding-top: 1rem;
	--news-item-padding-left: 0.8rem;
	--news-item-height: 4rem;
	--news-item-poster-width: 40%;
	--goback-nav-bar-height: 2rem;
}

.icon{
	font-family: 'Icons';
}

@font-face {
	font-family: 'Icons';
	src: url('/element-icons.woff');
}