.wrapper{
	width: 100%;
	height: var(--goback-nav-bar-height);
	position: fixed;
	top: 0;
	left: 0;
	/* background: var(--main-bg); */
	background: skyblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.back{
	width: 2rem;
	height: 2rem;
	color: black;
	font-size: 1rem;
}
.back::after{
	font-style: normal;
	content: "\e6de";
}